<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Socket.io simple chat</title>
    <link rel="stylesheet" href="./style.css" />
</head>

<body>
    <h1>Welcome to Chat box 101</h1>
    <%if(isLogged){%>
    <p>
        User:-<%=currentUser%>
    </p>
    <%}%>
    
    <a href="/signup">SignUp</a>
    <a href="/login">Login</a>

       
        
</body>

</html>