<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SignUp chatBox-101</title>
  </head>

  <body>
    <form action="/signup" method="POST">
      <input type="email" name="email" placeholder="Enter email address" />
      <input type="password" name="password" placeholder="Enter Password" />
      <input type="submit" value="Register" />
    </form>
  </body>
</html>
